html{height: 100%}
body{
    width: 100%;
    height: 100%;
   background-image: url("../images/body-bg-1.jpg");
    background-attachment: fixed;
    background-color: #282828;
    background-position-x: center;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;top:0;
    box-sizing: border-box;
    line-height: 1%;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/body-bg-1.png', sizingMethod=scale);
}

.container{width: 1401px;height: auto;margin:0 auto;/* background-color: rgba(20,50,60,.1)*/}
.container .wrap{position:absolute;bottom:0;/*padding-bottom:100px;*/width: 1401px;height: auto;/*background: rgba(20,50,60,.2)*/}
.wrap .wrap-left{float: left;margin-top: 138px;margin-left: 52px;width: 160px;height: 490px;}
.wrap .wrap-right{float: left;width: 1189px;height:auto;/*background:rgba(50,600,20,.5)*/}


/*导航*/
.wrap-left .nav-title{position:relative;top:2px;width: 133px;height: 68px;background: url("../images/title-ico.jpg") 0 0 no-repeat;}
.wrap-left .nav-title strong{text-indent: -9999px;visibility: hidden;}
.wrap-left .nav-box{position:relative;z-index:500;width:133px;height: 353px;}
.wrap-left .nav-box .nav-list{padding-bottom:72px;list-style: none;background-color: #ad7d2b; border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
.nav-box  .nav-list li{margin:0 auto;width:117px;height: 39px;border-bottom: 1px dashed #8b5821; }
.nav-box  .nav-list li a{margin-top:2px;display:block;text-align:center;line-height:35px;width:117px;height:35px;font-size: 20px;color: #ffffff;text-decoration: none;}
.nav-box  .nav-list li a:hover{background-color:#81511c;border-radius:15px;text-decoration: none}
.wrap-left .bot-model{position: relative;z-index:501;top: -75px;left: -29px;}

/*首页*/
.wrap-right .main-index{display:block;position: relative;top: -70px;height: 720px;margin-top:110px;background: url("../images/index-1.png") center 0 no-repeat;}
.main-index .malemode-1{position: relative;top:28px;left:-607px;z-index: 499;}
.main-index .malemode-1 img{}
.main-index .cont-txt{float: left; width: 518px; font-family: "微软雅黑"; position: relative;top: 500px;left: 387px;}
.main-index .cont-txt p{font-size: 14px;color: #151515;line-height: 24px;}
.main-index .malemode-2{position: relative;}
.main-index .malemode-2 img{}


/*长袖衫*/
.wrap-shirt{position: relative;display: none;}
   /*第一页*/
.wrap-shirt .long-shirt{display:block;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.long-shirt .shirt-list-box{list-style: none;width: 1160px;}
.long-shirt .shirt-list-box li{float: left;margin-right:15px;width: 273px;height: 469px;background-color: #eee5cf; }
.long-shirt .shirt-list-box .base-img-box{width: 273px;height: 469px;overflow: hidden;position: relative;top:-6px;left:-6px;}
.long-shirt .shirt-list-box .base-img-box a{}
.long-shirt .shirt-list-box .base-img-box a img{}
.long-shirt .bot{margin-top:33px;width: 1149px;height: 125px;}
.long-shirt .bot .solgan-shirt{float: left;}
.bot .bot-txt{float:left;width: 423px;height: 113px;border:1px dashed #aaafaf;}
.bot .bot-txt p{float:left;font-size: 12px;color: #535353;line-height: 22px;}

/*第二页*/
.long-shirt-two{display:none;width: 1149px;height: 720px;margin-top: 110px;}
.long-shirt-two .changable-shirt{float: left;margin-top: 182px;margin-right: 47px;}
.long-shirt-two .shirt-recommend{float: left;position: relative;}
.long-shirt-two .shirt-recommend .base-shirt{float: left;margin-right: 30px;}
.long-shirt-two .shirt-recommend .base-shirt a{}

/*薄西服*/
.wrap-suit{display: none;position: relative;}
/*第一页*/
.wrap-suit .suit-one{display:block;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.suit-one .suit-box{float: left;width: 589px;overflow: hidden;height: auto;/*background: rgba(150,10,180,.2)*/}
.suit-one .suit-box .suit-list{width: 600px;list-style: none;}
.suit-one .suit-box .suit-list li{float: left;margin-right:14px;margin-bottom:13px;width:282px;height: 336px; background-color: #f3e8d1;}
.suit-one .suit-box .suit-list li .base-suit{position:relative;top:-6px;left:-5px;width:282px;height: 336px;}
.suit-one .suit-box .suit-list li .base-suit a{font-size: 0;}
.suit-one .suit-des{float: left;width: 560px;height: 830px;background: rgba(10,50,60,.2);background: url("../images/suit-1_03.png") 29px  39px no-repeat;}
.suit-one .suit-des .suit-txt{margin-left:35px;width: 291px;font-size: 14px;line-height: 22px;color: #7d7d7d;margin-top: 250px;}
.suit-one .suit-des .sui-img{position: relative; top: -263px;left: 323px;}

.suit-one .suit-des .sui-img a{}
/*第二页*/
.wrap-suit  .suit-two{display:none;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.wrap-suit  .suit-two .suit-box{float: left;margin-right: 18px;}
.wrap-suit  .suit-two .suit-box .base-suit{float: left;position: relative; top: 95px;margin-right: 60px}
.wrap-suit  .suit-two .suit-box .base-suit a{}
.wrap-suit  .suit-two .suit-box .base-suit a img{}
.wrap-suit  .suit-two .suit-txt{float: left;position: relative;top: -415px;left: 800px;}
.wrap-suit  .suit-two .suit-txt a{}
.wrap-suit  .suit-two .suit-txt a img{}
/*风衣*/
.windbreaker{display: none;position: relative;}
/*第一页*/
.windbreaker .windbreaker-one{display:block;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.windbreaker-one .windbreaker-top{margin-bottom:9px;width: 998px;height: 345px;}
.windbreaker-one .windbreaker-top .win-top-left{float: left;width: 527px;height: 336px;background-color: #eee5cf;}
.windbreaker-one .windbreaker-top .win-top-left a{display:block;position: relative;top:-6px;left: -6px;font-size: 0;width: 527px;height: 336px;overflow: hidden;}
.windbreaker-one .windbreaker-top .win-top-left a img{}
.windbreaker-one .windbreaker-top .win-top-right{float: right;width: 458px;background: url("../images/windbreaker/windbreaker-1.png") no-repeat;}
.windbreaker-one .windbreaker-top .win-top-right .win-top-des{margin-top:219px;width: 458px;font-size: 14px;color: #5a5858;line-height: 22px; }
.windbreaker-one .windbreaker-bot{width: 985px;}
.windbreaker-bot .windbreaker-list{list-style: none}
.windbreaker-bot .windbreaker-list li{float: left;margin-right:10px;width: 282px;height: 336px;background-color:#e1e2cf; }
.windbreaker-bot .windbreaker-list li .base-windbreker{position:relative;top:-6px;left:-6px;width: 282px;height: 336px;}
.windbreaker-bot .windbreaker-list li .base-windbreker a{}
.windbreaker-bot .windbreaker-list li .base-windbreker a img{}
.windbreaker .windbreaker-model{position: absolute;right:-14px;top:0;}
.windbreaker .windbreaker-model:hover{
    animation: move 2s;
    -moz-animation: move 2s;
    -webkit-animation: move 2s;
    -o-animation: move 2s;
}

@-moz-keyframes move
{
    0%   {right: -14px;top: 0;}
    50%  {right: -34px;top: 0;}
    100% {right: -14px;top: 0;}
}

@-webkit-keyframes move
{
    0%   {right: -14px;top: 0;}
    50%  {right: -34px;top: 0;}
    100% {right: -14px;top: 0;}
}

@-o-keyframes move
{
    0%   {right: -14px;top: 0;}
    50%  {right: -34px;top: 0;}
    100% {right: -14px;top: 0;}
}
/*第二页*/
.windbreaker .windbreaker-two{display: none;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.windbreaker .windbreaker-two .windbreaker-pic-list{float: left;}
.windbreaker-pic-list .base-windbreker{float: left;position: relative;top: 104px;}
.windbreaker-pic-list .base-windbreker a{}
.windbreaker-pic-list .base-windbreker a img{}
.windbreaker .windbreaker-two .windbreker-slogan{float: left;margin-top: 49px;}

/*皮夹克*/
.jacket{display: none;position: relative}
/*第一页*/
.jacket .jacket-one{display:block;position:relative;width: 1149px;height: 720px;margin-top:110px;margin-top: 110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.jacket-one .jacket-top{width: 1149px;}
.jacket-one .jacket-top .jacket-top-img{margin-left:23px;width: 345px;height: 344px;background-color: #fbdba8;border-radius: 50%;display: block;float: left; }
.jacket-one .jacket-top .jacket-top-img img{position: relative;top: -6px;left:-6px;}
.jacket-one .jacket-top .jacket-top-txt{float: left;width: 463px;height: 365px;background: url("../images/jacket/jacket-slogan.png") no-repeat;}
.jacket-one .jacket-top .jacket-top-txt .top-txt-des{margin-top:227px;width: 380px;margin-left: 33px;color: #7d7d7d;font-size: 12px;line-height: 22px;}
.jacket-one .jacket-bot{width: 1149px;}
.jacket-one .jacket-bot .jacket-list{list-style: none;}
.jacket-one .jacket-bot .jacket-list li{float: left;}
.jacket-bot .jacket-list .jacket-model-one{margin-left: 23px;margin-right: 14px;width: 314px;height: 314px;background-color: #fbdba8;border-radius: 50%;}
.jacket-bot .jacket-list .jacket-model-one .one-img{position: relative;top:-7px;left:-7px;}
.jacket-bot .jacket-list .jacket-model-two{margin-right:14px;width: 276px;height: 276px;background-color: #fbdba8;border-radius: 50%;}
.jacket-bot .jacket-list .jacket-model-two .two-img{position: relative;top:-7px;left:-7px;}
.jacket-bot .jacket-list .jacket-model-three{width: 236px;height: 236px;background-color: #fbdba8;border-radius: 50%;}
.jacket-bot .jacket-list .jacket-model-three .three-img{position: relative;top:-7px;left:-7px;}
.jacket-model{position: absolute;top: -4px;right: 58px;}
/*第二页*/
.jacket .jacket-two{display: none;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.jacket .jacket-two .jacket-pic-list{float: left;}
.jacket-pic-list .base-jacket{float: left;margin-left: 65px;}
.jacket-pic-list .base-jacket a{}
.jacket-pic-list .base-jacket a img{}
.jacket .windbreaker-two .base-jacket-slogan{float: left;margin-top: 49px;}


/*配饰*/
.ornament{display: none;position: relative}
/*第一页*/
.ornament .ornament-one{display:block;position:relative;width: 1187px;height: 720px;margin-top:110px;/*background: rgba(50,60,80,.2)*/}
.ornament-one .ornament-left{float: left; width: 240px; height: 720px; position: relative;top: -77px;}
.ornament-one .ornament-left a{font-size: 0;}
.ornament-one .ornament-left a img{}
.ornament-one .ornament-middle{float: left;margin-left:18px;width: 580px;position: relative;z-index: 500;}
.ornament-middle .middle-top{width: 595px;height: 215px;overflow:hidden;background: url("../images/ornament/middle-top.png") no-repeat;}
.ornament-middle .middle-top .top-txt{margin-left:48px;font-size: 12px;padding-top: 175px;line-height: 22px;width: 534px;}
.ornament-middle .base-middle-bot{margin-top: 29px;margin-right:30px;float: left;width:241px;height:336px;background-color: #f0e5d0; }
.ornament-middle .base-middle-bot a{display: block;position:relative;top:-6px;left:-6px;width:241px;height:336px;}
.ornament-middle .base-middle-bot a img{}
.ornament-one .ornament-right{float: left;position: relative;left: -37px;z-index: 499;width: 345px;height: 568px;background-color: #fbebd1;}
.ornament-one .ornament-right a{position: absolute;top: -6px;left: -6px;}
.ornament-one .ornament-right a img{}
/*第二页*/
.ornament .ornament-two{display:none;width: 1187px;height: 720px;margin-top:110px;/*background: rgba(50,60,80,.2)*/}
.ornament-two .ornament-list{float:left;width: 615px;height: auto;}
.ornament-two .ornament-list .ornament-list-ul{list-style: none;}
.ornament-two .ornament-list li{float: left;width: 205px;height: 190px;}
.ornament-two .ornament-list .base-ornament{}
.ornament-two .ornament-list .base-ornament a{}
.ornament-two .ornament-list .base-ornament  a img{}
.ornament-two .ornament-list .base-ornament  i{position:relative;display: block;width: 90px;height: 90px;overflow:hidden;color: #ffffff;font-size: 17px;text-align: center;}
.ornament-two .ornament-list .base-ornament  i span{margin-top: 26px;margin-left: 10px;display: block;width: 77px;height: 77px;overflow: hidden;color: #ffffff;font-size: 15px;text-align: center;line-height: 18px;}
.ornament-two .ornament-list .base-ornament  i span:hover{text-shadow: #073847 0 2px 0;}
.base-ornament .bubble-1{background: url("../images/ornament/$752.png") no-repeat;top: -110px;}
.base-ornament .bubble-2{background: url("../images/ornament/$268.png") no-repeat;top: -225px;left: 118px;}
.base-ornament .bubble-3{background: url("../images/ornament/$9315.png") no-repeat;top: -82px;left: 110px;}
.base-ornament .bubble-4{background: url("../images/ornament/$532.png") no-repeat;top: -180px;left: 122px;}
.base-ornament .bubble-5{background: url("../images/ornament/$263.png") no-repeat;top: -86px;}
.base-ornament .bubble-6{background: url("../images/ornament/$2740.png") no-repeat;top: -162px;left: -11px;}
.ornament-two .ornament-right-tip{float: left;}
.ornament-two .ornament-right-tip .solgan-tip{width: 405px;height: 228px;background: url("../images/ornament/ornament-tip_des.png") 0 30px no-repeat;}
.ornament-right-tip .recommend{width: 355px;height: auto;margin-top:40px;padding-left:40px;  }
.ornament-right-tip .recommend h2{display: block;width: 216px;height: 27px;background: url("../images/ornament/ornament-tip_03.png") no-repeat;}
.recommend h2 strong{font-size: 20px;color: #ffffff;text-indent: 9px;line-height: 27px;}
.recommend .recommend-txt{width: 216px;height: 171px;background-image: url("../images/ornament/ornament-tip-bg_03.jpg")}
.recommend .recommend-txt .txt-des{padding-left:12px;padding-top:11px;width: 199px;height: 156px;background-color:#ffffff;font-size: 12px;line-height: 22px;color:#151515; }

/*搭配*/
.dress{display: none;position: relative}
/*第一页*/
.dress .dress-one{display:block;position: relative;top: -70px;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;}
.dress-one .one-cont{position:relative;width: 1149px;height: 800px;padding-top:30px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.one-cont .dress-title{position: absolute;left: 234px;top: 74px;width: 770px;height: 179px;}
.one-cont .dress-model-left{position: absolute;z-index:1000;width: 248px;height: 711px;left: 0;top: 0; }
.one-cont .dress-trousers{position: absolute;top: 261px;left: 170px;width: 191px;height: 323px;}
.one-cont .dress-waistcoat{position: absolute;top: 272px;left: 289px;width: 226px;height: 280px;}
.one-cont .dress-Shoes{position: absolute;top: 497px;left: 268px;width: 133px;height: 144px;}
.one-cont .dress-eye{position: absolute;top: 566px;left: 422px;width: 128px;height: 66px;}
.one-cont .dress-pack{position: absolute;z-index:1000;top: 446px;left: 576px;width: 150px;height: 182px;}
.one-cont .dress-des{position: absolute;z-index:1000;top: 249px;left: 506px;width: 237px;height: auto;border-top:1px solid #f3f9fc;border-left:1px solid #f3f9fc;border-right:1px solid #a89d96;border-bottom:1px solid #fcfcfc;background-color: rgba(255,255,255,.5);}
.one-cont .dress-des p{font-size: 14px;color: #151515;padding: 13px 19px 18px 9px;line-height: 20px;}
.one-cont .dress-right{position: absolute;top: 227px; right: 0;width: 457px;height: 454px;background-color: #ebceaf;border-radius: 50%;}
.one-cont .dress-right a{}
.one-cont .dress-right a img{width: 457px;height: 454px;position: absolute;left: -6px;top: -6px;}
/*第二页*/
.dress-two{display:none;width: 1149px;height: 720px;margin-top:110px;overflow:hidden;}
.dress-two .two-cont{position:relative;width: 1149px;height: 800px;padding-top:30px;overflow:hidden;/*background: rgba(50,60,80,.2)*/}
.two-cont .dress-model-left-2{position: absolute;}
.two-cont .dress-title-2{position: absolute;left: 314px;top: 89px;}
.two-cont .dress-trousers-2{position: absolute;left: 284px;top: 240px;}
.two-cont .dress-waistcoat-2{position: absolute;top: 232px;left: 437px;}
.two-cont .dress-waistcoat-3{position: absolute;top: 229px;left: 606px;}
.two-cont .dress-waistcoat-4{position: absolute;top: 103px;left: 765px;}
.two-cont .Handkerchief{position: absolute;left: 1000px;top: 134px;}
.two-cont .Bracelet{position: absolute;top: 526px;left: 331px;}
.two-cont .Shoes{position: absolute;top: 436px;left: 500px;}
.two-cont .dress-waistcoat-5{position: absolute;top: 371px;left: 694px;}
.two-cont .dress-trousers-3{position: absolute;top: 339px;left: 940px;}
.base-pic{position:absolute;font-size: 14px;color: #000000;text-align: center;line-height: 15px;}
.base-pic span{display: block;width: 108px;height: 15px;border-bottom: 1px solid #000000;font-weight: 500;}
.base-pic i{font-style: inherit;line-height: 15px;}
.dress-trousers-2-pic{top: 180px;left: 84px;}
.dress-waistcoat-2-pic{top: 11px;left: -58px;}
.dress-waistcoat-3-pic{top: 110px;left: 57px;}
.dress-waistcoat-4-pic{top: 0;left: 124px;}
.Handkerchief-pic{left: 7px;}
.Bracelet-pic{top:100px;}
.Shoes-pic{top: 225px;left: 16px;}
.dress-waistcoat-5-pic{top: 174px;left: 68px;}
.dress-trousers-3-pic{top: 193px;left: 50px;}

/*公共分页*/
.trun-page{display:none;float: right;position: absolute;bottom: 50px;right: 160px;}
.trun-page .rturn-page{position: absolute;z-index:500;width: 46px;height: 46px;background: url("../images/return-page-ico.png") no-repeat;cursor: pointer;}
.trun-page .next-page{position: absolute;z-index:501;top: -37px;left: 30px;width: 76px;height: 75px;background: url("../images/next-page-ico.png") no-repeat;cursor: pointer}

/*移动的圆圈（价格）*/
.base-pos-pic {position:absolute;visibility: hidden;}
.pic-1{top: 559px;left: -73px;}
.pic-2{top: 558px;left: 193px;}
.pic-3{top: 558px;left: 452px;}

/*导航点击后公共的样式*/
.nav-hover{background-color: #81511c;border-radius: 15px;text-decoration: none;}