/*首页*/
.wrap-right .main-index{display:block;position: relative;top:-113px;height: 720px;margin-top:110px;background: url("../images/index-1.png") 148px -11px no-repeat;}
.main-index .malemode-1{position: relative;top:28px;left:-524px;z-index: 499;top: 24px;}
.main-index .malemode-1 img{}
.main-index .cont-txt{float: left; width: 518px; font-family: "微软雅黑"; position: relative;top: 483px;left: 458px;}
.main-index .cont-txt p{font-size: 14px;color: #151515;line-height: 24px;}
.main-index .malemode-2{position: relative;}
.main-index .malemode-2 img{}
